.login {
  position: fixed;
  text-align: center;
  border: 1px solid #000;
  width: 300px;
  height: 300px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  h2 {
    font-size: 20px;
  }
}

.form__group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 6px;
  }
}

.form__btn {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  height: 35px;
  background: white;
  margin-top: 30px;
  border-radius: 8px;
  font-size: 16px;
}